
/*--- LOGO ---*/
/*Para alinhamento vertical o pai tem que ter display flex*/
.div-logo{
    width: 100%;
    padding: 0px 0px 0px 0px;
    display: flex;
}
.div-logo > img{
    width: 15rem;
    padding: 1rem 0 1rem 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#ico-social{
    width: 1.7rem;
    color: #26a699;
    margin-left: 0.6rem;
}
#ico-cadastro{
    width: 1.7rem;
    color: #26a699;
}
a:hover > #ico-social{
    color:#1e5953;
}

a:hover > #ico-cadastro{
    color:#1e5953;
}
.separador-vertical{
    color: #1e5953;
    margin: 0px 0px 1.2rem 0px;
    vertical-align: auto;
    padding: 0px 1rem 0px 1rem;
}
/*------------------------------------*/
.btn-outline-success{
    color: #26a699;
    border: #26a699;
}
.btn-outline-success a:hover{
    color: #1e5953;
    border: #1e5953;
}
/*--- CARROUSSEL ---*/
.div-carroussel{
    border: solid black 1px;
    height: 20rem;
}
.img-carrossel{
    height: 19.9rem;
}
/*------------------------------------*/
/*--- RODAPÉ ---*/
.div-rodape{
    margin-top: 0rem;
}
.lin-rodape{
    color: #1e5953;
    background-color: #f8f9fa;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
}
.lin-rodape img{
    width: 8rem;
    margin: 1.5rem auto 1rem auto;
    display: flex;
}
.lin-rodape p{
    margin: 0px;
}
.div-endereco{
    display: flexbox;
    padding: 1rem 0px 1rem 0px;
}
.ico-rodape{
    margin-right: 1rem;
    size: large;
}

.div-meio a{
    display: flex;
    width: 600px;
}

@media(max-width: 540px){
    .lin-rodape{
        color: #1e5953;
        background-color: #f8f9fa;
        font-weight: bold;
        font-size: 0.7rem;
        display: flex;
    }
    .lin-rodape img{
        width: 8rem;
        margin: 0.5rem auto 0.5rem auto;
        display: flex;
    }
    .ico-rodape{
        margin-right: 0.5rem;
        size: small;
    }
    .div-meio a{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .div-rodape{
        margin-top: 0rem;
    }
    .div-logo > img{
        width: 10rem;
        padding: 1rem 0 1rem 0;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    #ico-social{
        width: 1.5rem;
        color: #26a699;
        margin-left: 0.6rem;
    }
    #ico-cadastro{
        width: 1.5rem;
        color: #26a699;
    }
    a:hover > #ico-social{
        color:#1e5953;
    }
    a:hover > #ico-cadastro{
        color:#1e5953;
    }
}